<ul class="nav navbar-nav navbar-right">
    @if (!User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
    }
    else
    {
        <li>
            <a>Привет @User.Identity.Name</a>
        </li>
        <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
    }
</ul>